@font-face {
    font-family: 'Conv_WerkHaus Bold';    
    src: url('./font/WerkHaus Bold.eot');
    src: local('☺'), url('../font/WerkHaus Bold.woff') format('woff'), url('../font/WerkHaus Bold.ttf') format('truetype'), url('../font/WerkHaus Bold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

.home_page .site_name {color: #F14150;text-align: center;font-size: 120px;font-weight: 500;font-family: "Times New Roman", Times, serif;}
body.home_page_body {background: url(site/banner_bg.jpg);background-size: cover;background-position: center center;}
body.home_page_body:After {content: " ";position: absolute;left: 0;top: 0;width: 100%;height: 100%;background: rgba(0, 0, 0, 0.60);    z-index: 0;}
body.home_page_body .page-container {z-index: 9;}
.home_page .site_name {text-align: center;font-family: Conv_WerkHaus Bold;font-size: 100px;font-weight: 900;letter-spacing: 5px;color: #fff;line-height: normal;margin: 0;}
.ul_menu li a {margin: 0;padding: 8px 15px;border: 2px solid #fff;color: #F14150;font-size: 16px;font-family: muli;font-weight: 600;background: #fff;box-shadow: 0 0 20px 0 rgba(38, 166, 154, 0.52);transition: ease-in-out .5s;border: 2px solid #fff;max-width: 170px;width: 170px;}
.ul_menu li a:hover {background: transparent;border: 2px solid #fff;box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.63);}
.ul_menu li {display: inline-block;padding: 0 10px;}
.ul_menu {padding: 0;margin: 0;list-style: none;text-align: center;}
.header_cstm {margin-bottom: 70px;}
.home_page {padding-top: 170px;max-width: 1170px;margin: 0 auto;}
ul.ap_store_btn {padding: 0;margin: 0;list-style: none;text-align: center;margin-top: 80px;}
ul.ap_store_btn li {display: inline-block;padding: 0 10px;}
ul.ap_store_btn li a img {max-width: 180px;}
ul.ap_store_btn li a {display: inline-block;}
ul.ap_store_btn li:last-child {margin-bottom: 0;}

.nipl_table_listing .dataTables_scrollHead .dataTables_scrollHeadInner table th:not(:last-child),
.nipl_table_listing .dataTables_scrollHead .dataTables_scrollHeadInner table td:not(:last-child),
.nipl_table_listing .dataTables_scrollBody table th:not(:last-child),
.nipl_table_listing .dataTables_scrollBody table td:not(:last-child){min-width: 120px;/*160px;*/}
/* if last 2 columns are static */
.dt-last-2-col-mw.nipl_table_listing .dataTables_scrollHead .dataTables_scrollHeadInner table th:nth-last-child(2),
.dt-last-2-col-mw.nipl_table_listing .dataTables_scrollHead .dataTables_scrollHeadInner table td:nth-last-child(2),
.dt-last-2-col-mw.nipl_table_listing .dataTables_scrollBody table th:nth-last-child(2),
.dt-last-2-col-mw.nipl_table_listing .dataTables_scrollBody table td:nth-last-child(2){min-width: 100px;}
.dt-last-col-default-mw.nipl_table_listing .dataTables_scrollHead .dataTables_scrollHeadInner table th:last-child,
.dt-last-col-default-mw.nipl_table_listing .dataTables_scrollHead .dataTables_scrollHeadInner table td:last-child,
.dt-last-col-default-mw.nipl_table_listing .dataTables_scrollBody table th:last-child,
.dt-last-col-default-mw.nipl_table_listing .dataTables_scrollBody table td:last-child{min-width: 160px;}
.dt-first-col-mw.nipl_table_listing .dataTables_scrollHead .dataTables_scrollHeadInner table th:first-child,
.dt-first-col-mw.nipl_table_listing .dataTables_scrollHead .dataTables_scrollHeadInner table td:first-child,
.dt-first-col-mw.nipl_table_listing .dataTables_scrollBody table th:first-child,
.dt-first-col-mw.nipl_table_listing .dataTables_scrollBody table td:first-child{min-width: 100px;}
.svg_logo {text-align: center;}
.svg_logo svg {width: 450px;height: auto;margin: 0 auto;}
.display-none{display:none;}


/** login page ***/
.login-cover {background: #f4f4f4;}
.content {padding: 0 !important;}
.page-container {padding: 0 !important;}
.panel_login_head {background: #F14150;padding: 20px;}
.panel_login_head svg {width: 200px;height: auto;margin: 0 auto;}
.form_login_wrapper {padding-top: 70px;padding-bottom: 20px;}
/*.form_login_wrapper {padding-top: 70px;padding-bottom: 70px;}*/
.form_login_wrapper .login-form {border: 0;max-width: 400px;margin: 0px auto !important;padding: 35px 25px 30px 25px;background: #fff;width: 100% !important;border-top: 0px solid #F14150;box-shadow: 0 0 30px 0 #f4f4f4;}
.form_login_wrapper h5 {margin: 0;padding: 0;font-size: 24px;color: #F14150;font-family: muli;line-height: normal;font-weight: 500;text-align: center;}
a.f_pass {margin-top: 10px;float: left;font-size: 14px;color: #F14150;}
.form_login_wrapper .login-form .form-group button {width: auto;margin: 0 auto;float: right;border: 0;background: #F14150;font-size: 14px;font-family: muli;}
.logout-btn{margin-top: 6px;}

#store_view_model .modal-body .details_section {overflow: auto;}
#store_view_model .modal-body .list {padding: 3px 0px;}
#store_view_model .modal-body .details_section img {max-width : 50%;}
#mall_view_model .modal-body .details_section {overflow: auto;}
#mall_view_model .modal-body .list {padding: 3px 0px;}
#mall_view_model .modal-body .details_section img {max-width : 50%;}
.page-header-content{padding-bottom: 1px;}
.business_category_div{padding-top: 15px;}
hr.style1{border-top: 1px solid #8c8b8b;}

.width-100-per{width:100% !important; }
/*.AnyTime-time, .AnyTime-hrs-am, .AnyTime-hrs-pm, .AnyTime-mins-tens, .AnyTime-mins-ones, .AnyTime-secs-tens, .AnyTime-secs-ones, .AnyTime-hrs, .AnyTime-mins, .AnyTime-secs, .AnyTime-offs {display: inline-block;vertical-align: top;}*/

#loader{text-align:center;z-index:9999;position:fixed;vertical-align:middle;width: 100%;filter: Alpha(Opacity=70);opacity: 0.5;background-color: #000000;height:100%;padding-top:320px;}
#dt_loader {text-align: center;z-index: 9999;width: 100%;margin-top: 40px;}
div#dt_loader i.icon-spinner9.spinner.fa-4x {color: #9a9a9a;}


/*tr.template-upload.fade{ opacity:1 !important;}*/
.fade{opacity:1;}

/*.ap_store_btn{margin-bottom: 20px !important;}*/


#fileupload table.table-striped {border: 0;display: inline-block;}
#fileupload table.table-striped tr {width: 110px;height: auto;float: left;margin: 0 20px 30px 0;background: #f9f9f9;}
#fileupload table.table-striped tr td {height: 102px;border: 1px solid #ddd;padding: 2px;text-align: center;display: block;position: relative;}
span.preview {padding: 0;display: block;position: relative;}
span.img_view {border: 5px solid #fff;height: 78px;display: block;width: 100%;}
span.img_view img {width: 100%;height: 68px;}
#fileupload table.table-striped tr td > span .ui-button {background: #fff;border: medium none transparent;border-radius: 0;bottom: 0;color: #333;padding: 0;position: relative;width: auto;vertical-align: top;margin: 0 5px 0 0;}
#fileupload table.table-striped tr td > span .ui-button i {top: -1px;font-size: 14px;}
.fileupload-buttonbar .btn, .fileupload-buttonbar .toggle {margin: 0 10px 10px 0;float: left;}
span.btn.btn-success.fileinput-button.ui-button.ui-corner-all.ui-widget.catalog-span {margin: -79px 10px 10px 0px;float: left;}
.catalog-image-form-control {margin-top: -45px;}
#fileupload table.table-striped tr.template-upload canvas {margin: 5px auto 4px;width: 70px;}
#fileupload table.table-striped tr.template-upload button.ui-button {position: absolute;bottom: -13px;background: transparent;left: 50%;margin-left: -7px;}
#fileupload table.table-striped tr.template-upload span.text-danger {font-size: 12px;position: absolute;left: 50%;bottom: -23px;margin-left: -54px;width: 100%;}
#fileupload table.table-striped tr.template-upload br {display: none;}
.upload_up {margin-top: -140px;margin-left: 10px;}
div#update_div {margin-bottom: 5px;margin: 0 10px 10px 0;float: left;}
.text-right.btn_end {clear: both;position: absolute;bottom: 15px;width: 100%;text-align: right;right: 50px;}
.panel_offer {padding-bottom: 50px;}
ul.ul_list_wrapper {display: -ms-flexbox;display: flex;-ms-flex-wrap: wrap;flex-wrap: wrap;margin-right: -15px;margin-left: -15px;list-style: none;margin-left: -25px;justify-content: center;}
ul.ul_list_wrapper li {-ms-flex: 0 0 150px;flex: 0 0 150px;max-width: 150px;margin-bottom: 20px;padding: 8px 10px;background: #f5f5f5;border: 1px solid #ccc; margin:10px;}
.img_listing {box-shadow: 10px 10px 10px 0 rgba(0,0,0,0);padding: 10px;position: relative;}
.list_check {position: absolute;left: -5px;top: 0px;}
.list_check input[type="checkbox"] {margin: 0;}
ul.ul_list_wrapper li img {width: 100%;}


.reorder_link {color: #fff !important;border: solid 2px #009688;border-radius: 3px;background: #009688;font-size: 18px;padding: 10px 20px;margin: 15px 15px 15px 0px;font-weight: bold;text-decoration: none;transition: all 0.35s;-moz-transition: all 0.35s;-webkit-transition: all 0.35s;-o-transition: all 0.35s;white-space: nowrap;}
.reorder_link:hover {color: #ffffff;border: solid 2px #009688;background: #009688;box-shadow: none;}
#reorder-helper{margin: 18px 10px;padding: 10px;}
.light_box {background: #efefef;text-align: center;font-size: 1.2em;}
.gallery{width:100%; float:left; margin-top:20px;margin-bottom: 50px;}
.gallery ul{margin:0; padding:0; list-style-type:none;}
.gallery ul li{padding:15px; border:2px solid #ccc; float:left; margin:10px 15px; background:none; width:auto; height:auto; position:relative;}
.gallery img{width:250px;}
.notice, .notice a{color: #fff !important;}
.notice {z-index: 8888;padding: 10px;margin-top: 20px;}
.notice a {font-weight: bold;}
.notice_error {background: #E46360;}
.notice_success {background: #657E3F;}
.image_back_link{margin-right: 30px;}
.btn-success{background-color: #4CAF50;border-color: #4CAF50;color:#FFF;}


/*[type="checkbox"]:not(:checked), [type="checkbox"]:checked {display: none;}*/
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {position: absolute;}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {position: relative;padding-left: 25px;cursor: pointer; box-shadow: none;}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before, 
[type="checkbox"]:checked + label:before { content: ''; position: absolute; left: 0; top: 0; width: 20px; height: 20px; border: 1px solid #ddd; background: #fff; border-radius:0; box-shadow:none;}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {content: '✔';position: absolute;top: 0; left: 4px;font-size: 14px;color: #09ad7e;line-height: 1.75;-webkit-transition: all .2s;-moz-transition: all .2s;-ms-transition: all .2s;transition: all .2s;}
/* checked mark aspect changes */

[type="checkbox"]:not(:checked) + label:after {opacity: 0;-webkit-transform: scale(0);-moz-transform: scale(0);-ms-transform: scale(0);transform: scale(0);}
[type="checkbox"]:checked + label:after {opacity: 1;-webkit-transform: scale(1);-moz-transform: scale(1);-ms-transform: scale(1);transform: scale(1);}

.checkbox.img-checkbox {margin: 0; padding: 0; position: absolute; top: 10px;left: 10px;}
/*.ui-state-active, .ui-state-active:hover{background-color: #26A69A;color: #fff;border-radius: 3px;}*/
.AnyTime-dom-btn-empty {display: table-cell;}

.dataTables_wrapper .dt-buttons { float: none; text-align: center; }
li.sub-category {margin-left: 35px !important;}
.multiselect-container {
    width: 100%;
}

/** media start here ***/
@media (max-width:1024px){

}

@media (min-width:1200px){
    html.home_page_html {height: 100%;}
}

@media (min-width:992px) and (max-width:1199px){
    html.home_page_html {height: 100%;}
    /*.upload_up margin: 0;position: absolute;top: 358px;left: 30px;}     form#fileupload {clear: both;}     .form-group.offer_image_section label + div {padding-bottom: 44px;}*/     .form-group.offer_image_section {margin-bottom: 0;}    form#frm_profile {margin: 0 -10px;}
}

@media (width:812px){
    html.home_page_html {height: initial !important;}    
}

@media (min-width:768px) and (max-width:991px){
    .ul_menu li a {font-size: 14px;max-width: 150px;width: 150px;}
    html.home_page_html {height: 100%;}
}

@media (max-width:767px){
    .ul_menu li {display: block;padding: 0;margin: 0 0 15px 0;}
    .home_page .site_name {font-size: 60px;white-space: initial;}
    ul.ap_store_btn li a img {max-width: 160px;}
    ul.ap_store_btn li {display: block;padding: 0;margin-bottom: 15px;}
    .home_page {padding-top: 0;}
    .home_page {padding-top: 0;display: block;width: 100%;}
    body.home_page_body .content {padding: 0;}
    .header_cstm {margin-bottom: 30px;}
    ul.ap_store_btn {margin-top: 40px;}
    body.home_page_body div#site_wrapper {padding: 20px;}
    body.home_page_body {background-repeat: no-repeat;}
    .svg_logo svg {width: 250px;}
    .dttable_lenth_wrapper .dataTables_filter label {margin-top: 20px;}
    ul.ul_list_wrapper li {-ms-flex: 0 0 150px;flex: 0 0 130px;max-width: 130px;margin-bottom: 10px;padding: 0 5px;}
    ul.ul_list_wrapper {margin-right: -5px;margin-left: -30px;}
    form#frm_profile {margin: 0 -10px;}
    #fileupload table.table-striped tr {margin: 0 15px 30px 0;}
    div#update_div {display: none !important;}
}

@media (min-width:320px) and (max-width:480px){
    html.home_page_html {height: 100% !important;}
    body.home_page_body div#site_wrapper {padding: 20px;position: absolute;left: 50%;top: 50%;transform: translate(-50%,-50%);z-index: 9;}
    .form_login_wrapper .login-form {padding: 30px 15px 20px 15px;width: 95% !important;}
}